.container {
  width: 420px;
  height: 932px;
  background-color: white;
  display: grid;
  grid-template-rows: 7% 85% 8%;
}

.profileBox {
  width: 100%;
  height: 100%;
  background-color: ghostwhite;
  grid-row-start: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}
