.userBox {
  width: 100%;
  height: 15%;
  grid-row-start: 2;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.userImage {
  width: 31%;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user1 {
  width: 23%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user2 {
  width: 23%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user3 {
  width: 23%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
