<<<<<<< HEAD
.userBox {
  width: 100%;
  height: 15%;
  grid-row-start: 2;
=======
.container {
  width: 100%;
  height: 512px;
  padding: 13px 18px 39.6px;
  grid-row-start: 2;
  background-color: ghostwhite;
}

.title {
  p {
    font-size: 1.325rem;
    font-weight: 600;
  }
}

.summaryBox {
  width: 100%;
  height: 84%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  display: grid;
  grid-template-rows: 73% 27%;
  grid-template-columns: 100%;
}

.grid_1_1 {
  grid-row: 1;
  grid-column: 1;
  border-left: 3px solid ghostwhite;
>>>>>>> front
  background-color: white;
  display: flex;
  justify-content: center;
  padding-left: 8rem;
}

.imageEdit {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 5rem;

  .imageBox {
    width: 7rem;
    height: 7rem;
    border-radius: 8rem;
    position: relative;
    overflow: hidden;
  }

  .editButton {
    width: 7rem;
    height: 2rem;
  }

  .hiddenInput {
    opacity: 0;
    display: none;
  }
}

.profileImageChangeButton {
  margin-top: 1rem;
}

<<<<<<< HEAD
.user3 {
  width: 23%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
=======
.grid_2_1 {
  grid-row: 2;
  grid-column: 1;
  padding: 2rem 0 1.25rem 3.9rem;
  border-top: 3px solid ghostwhite;
  border-left: 3px solid ghostwhite;

  .inputBox {
    width: 60%;
  }

  .nicknameChangeButton {
    margin-left: 0.8rem;
  }
>>>>>>> front
}
