.MiddleContentContainer {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  padding-top: 5%;
  padding-bottom: 10%;
  overflow-y: hidden;
  /* border: 1.5px solid #9cbe7a; */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.leftSliderBar {
  width: 10%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.middleContent {
  width: 80%;
  height: 90%;
}

.rightSliderBar {
  width: 10%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar {
  background-color: #19c864;
  cursor: pointer;

  :hover {
    background-color: red;
  }
}

.CardTitle {
  width: 100%;
  height: 20%;
}

.CardContent {
  width: 100%;
  height: 80%;
}
