.badgeContainer {
  width: 100%;
  height: 34%;
  background-color: white;
  padding-left: 1rem;
  padding-top: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-bottom: 2px solid ghostwhite;
}
