.cardBox {
  width: 100%;
  height: 25%;
  padding: 1.5% 3%;
  background-color: ghostwhite;
  border-top: none;
  box-sizing: border-box;
}

.card {
  width: 100%;
  height: 100%;
  background-color: white;
  transition: transform 0.2s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.imageBox {
  width: 50%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imageInner {
  width: 90%;
  height: 80%;
  background-color: white;
  position: relative;
}

.contentBox {
  width: 50%;
  height: 100%;
  margin-top: 1.125rem;
  background-color: white;

  .name {
    color: #53b98a;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  p {
    color: black;
    font-size: 0.9rem;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
}

.modalBox {
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.modalBoxText {
  padding: 20px;
  font-size: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
}

.plantName {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  color: #53b98a;
}

.floweroption {
  font-size: 1.2rem;
  margin-right: 0.8rem;
  font-weight: 400;
}

.flowerlang {
  font-size: 1.1rem;
  font-weight: 600;
}

.infoBox {
  margin-top: 1rem;
  text-align: left;
}

.content {
  font-size: 1.2rem;
  font-weight: 400;
}

.shareButtonBox {
  width: 100%;
  height: 4.5rem;
  text-align: center;
}

.shareButton {
  background-color: #53b98a;
  color: white;
  font-size: 1.8rem;
  width: 7rem;
  height: 3rem;
  line-height: 2.8rem;
  padding: 0;
}
