.container {
  width: 1200px;
  height: 1200px;
  background-color: ghostwhite;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin: auto;
  display: grid;
  grid-template-rows: 80px 512px 620px;
}
